/*
COLORS
    PURPLE: #a438c1
    GOLD:   #e1bb59
*/

/*
    Sets the defailt values for the website
*/
*
{
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
    box-sizing: border-box;
}

/*
    Sets default text and background colors
*/
body
{
    background: #231e25;
    color: #fff;
}

/*
    Creates a section to store a background image
    which will serve as a visual introduction
*/
#header
{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

/* Handles the changing text transition styling */
#changingText span
{
    display: inline-block;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/*
    Sets the nav bar properties dividing the space
    between the logo and the nav selections using flex-wrap
*/
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background: #231e2500;
    transition: 0.5s;
}
/*
    Using a js script we can handle a scrollable effect causing
    the nav bar to solidify after scrolling
*/
nav.scroll
{
    background: #322936;
    height: 115px;
    /*Set to z layer so high to ensure nothing is shown above it*/
    z-index: 100;
}
/*
    The logo in the top right
*/
#logo
{
    width: 115px;
}
/*
    Disable menu button for non mobile or small screens
*/
#menu
{
    display: none;
}
/*
    The nav selections as a whole group
*/
nav ul
{
    padding-right: 5%;
    display: flex;
}
/*
    The actual nav selections forming them into a block
    from left to right
*/
nav ul li
{
    display: inline-block;
    list-style: none;
    justify-content: center;
    margin: 10px 20px;
}
/*
    The text and linking aspect of the nav selections
*/
nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/*
    The purple-gold hover effect of the nav bar selections by
    chaning color and width scale over a .375s transition
*/
nav ul li a::after
{
    content: '';
    width: 0%;
    height: 3px;
    background: #a438c1;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.375s;
}
nav ul li a:hover::after
{
    width: 100%;
    background: #e1bb59;
}

/*
    Handles the header text special properties
*/
.header-text
{
    padding-top: 30vh;
    font-size: 40px;
}
.header-text h1
{
    margin-top: 5%;
    font-size: 60px;
}

/*
    General, row, and column details

    TODO: Fix Intro getting messed up with height resizing
*/

.general
{
    padding: 0 6%;
}
.general span
{
    color: #e1bb59;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row p
{
    padding: 5% 30px;
    text-align: left;
    font-size: 20px;
}
.column1
{
    flex-basis: 60%;
}
.column2
{
    flex-basis: 35%;
}

/*
    About Section 
*/

#about
{
    scroll-margin-top: 70px;
    padding: 80px 0;
    color: #fff;
}
.aboutText span
{
    color: #e1bb59;
}
.aboutTitle
{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

/*
    Skills/Education/Experince Section
*/
.infoNames
{
    margin-right: 40px;
    position: relative;
}
.infoDetails ul li
{
    list-style: none;
    margin: 5px 15px;
    line-height: 1.5;
    font-size: 18px;
}
.infoDetails ul li .spanTitle
{
    font-size: 20px;
    font-weight: 600;
}
.infoDetails ul li .spanDetails
{
    color: #fff;
    display: inline-block;
    margin-left: 5px;
}

/*
*/
.sectionTitle
{
    font-size: 60px;
    font-weight: 600;
}
.contentTitles
{
    margin: 15px 10px;
    font-size: 40px;
    font-weight: 400;
}
.contentTitles span
{
    color: #a438c1;
}

/* 
    Programming Portfolio
*/

/* Defines where to position when nav bar locates */
#portfolioProgramming
{
    scroll-margin-top: 60px;
    padding: 5% 0;
}

.codeButtons
{
    padding: 0 30px;
}
.codeButtons pre
{
    display: none;
    max-height: 750px;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #3f3941;
}

/*
    Music Portfolio
*/

#portfolioMusic
{
    scroll-margin-top: 150px;
}

/*
    Contact
*/

/* Contact section paddings and size */
#contact
{
    padding: 5% 0;
}
/* Align contact left (column 2) to the bottom center */
.centerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.contactInfo
{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    font-size: 25px;
}
.mainContact
{
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
/* Handle hovering for email and phone icons */
.mainContact p
{
    color: #ffffff;
}
.mainContact img
{
    margin-left: 100px;    
    filter: 
        invert(30%) 
        sepia(61%) 
        saturate(2227%) 
        hue-rotate(267deg) 
        brightness(85%) 
        contrast(92%);
    transition: 0.3s;
}
.mainContact:hover img
{
    filter: 
        invert(71%) 
        sepia(94%) 
        saturate(269%) 
        hue-rotate(357deg) 
        brightness(92%) 
        contrast(91%);
}
/* Add a 5px buffer to phone icon */
.mainContact .phoneIcon
{
    margin-left: 105px;
}
/* Icon settings with margins and colors */
.emailIcon
{
    width: 40px;
}
.phoneIcon
{
    width: 35px;
}
/* Social icon colors/size/padding */
.socials a
{
    padding-top: 25px;
    filter: 
        invert(30%) 
        sepia(61%) 
        saturate(2227%) 
        hue-rotate(267deg) 
        brightness(85%) 
        contrast(92%);
    display: inline-block;
    transition: 0.25s;
}
.socials a:hover
{
    filter: 
        invert(71%) 
        sepia(94%) 
        saturate(269%) 
        hue-rotate(357deg) 
        brightness(92%) 
        contrast(91%);
    transform: translateY(-5px);
}
.socials a img
{
    width: 40px;
}
.github
{
    margin-left: 55px;
}
.linkedin
{
    margin-left: 55px;
}

/*
    Button functionality
*/
.button
{
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
    width: fit-content;
    color: #fff;
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #231e25;
    border-radius: 6px;
    background-color: #a438c1;
    height: 51px;
    transition: 0.25s;
}
.button:hover
{
    background-color: #e1bb59;
}
/*
 *  Link Buttons
 */
button
{
    display: block;
    font-size: 18px;
    cursor: pointer;  
    border: 1px solid #231e25;
    border-radius: 6px;
    color: #fff;
    padding: 14px 10%;
    background-color: #a438c1;
    transition: 0.25s;
}
.linkButton
{
    display: block;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 560px;
    color: #fff;
    padding: 14px 50px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #231e25;
    border-radius: 6px;
    background-color: #a438c1;
    height: 51px;
    transition: 0.25s;
}
.linkButton:hover
{
    background-color: #e1bb59;
}
/*
 *  Normal buttons
 */
.button2
{
    width: fit-content;
    margin: 15px 15px;
}
.button3
{
    width: 50%;
    margin: 15px 0;
}
button:hover
{
    background-color: #e1bb59;  
}

/* 
    Contact form 
*/
.content-right form
{
    width: 100%;
}
form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #3f3941;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

/*
    Copyright info
*/
.copyright
{
    width: 100vw;
    text-align: center;
    padding: 30px 0;
    background: #3f3941;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

/*
    CSS for small screens --> ANYTHING BELOW 850px WIDTH
*/

/* 
    TODO: Add menu button
    TODO: Adjust picture for smaller screens
    TODO: Adjust socials (yt, git, linkedin) spacing on mobile

    TODO: IPad Air
    TODO: IPhone 12
    TODO: IPhone SE

    TODO: ADD APPROPRIATE CONTENT
*/



/*
    Handles media settings for below 1600px
*/
@media (max-width: 1599px)
{
    /* Adjust the widht of the vide ot middle screens */
    iframe
    {
        width: 95%;
    }
    .linkButton
    {
        width: 95%;
    }
    /* Adjust contact text size at middle screens */
}

/*
    Handles media settings for below 1000px screens
*/
@media (max-width: 1300px) 
{
    #header
    {
        background-image: url(images/background_portrait.jpg);
    }
    /* Turn on the text in the nav bar */
    .enableNav nav ul li a
    {
        display: block;
    }
    /* Hover effects for navbar */
    .enableNavBk nav
    {
        align-content: flex-start;
        border: 1px solid #e1bb59;
        height: 100%;
        z-index: 100; 
    }
    /* turn off display for logo and menu */
    .disableDisplay
    {
        display: none;
    }
    /* turn on display for close */
    .moveMenu
    {
        margin-bottom: 22%;
    }
    /* Enable menu button on smaller screens */
    #menu
    {
        display: block;
        cursor: pointer;
        margin-right: 50px;
        width: 75px;
    }
    /* Adjust header scroll for mobile */
    #portfolioProgramming
    {
        scroll-margin-top: 110px;
    }
    #contact
    {
        scroll-margin-top: 110px;
    }
    /* adjust the nav bar into a column flex */
    nav
    {
        justify-content: space-between;
        background: #322936;
        height: 115px;
        transition: 0.1s;
    }
    nav img
    {
        align-self: center;
    }
    nav ul
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    nav ul li a
    {
        display: none;
        width: 100%;
        font-size: 40px;
        text-align: center;
        justify-self: center;
        align-self: flex-start;
        position: normal;
        color: #ffffff;
    }

    /* hand ing everything into a single row */
    .row 
    {
        display: block; 
    }
    .column1
    {
        flex-basis: 100%;
    }
    .column2 
    {
        flex-basis: 100%;
    }

    /* handles about section resizing */
    .aboutTitle
    {
        text-align: left;
    }    
    /* handles skills */
    .infoNames
    {
        margin-left: 15px;
    }
    .infoDetails ul li
    {
        margin: 5px 25px;
    }

    .centerItems {
        align-items: flex-start;
    }

    .mainContact img 
    {
        margin-left: 0px;
    }

    .mainContact .phoneIcon
    {
        margin-left: 5px;
    }

    .mainContact p 
    {
        font-size: 20px;
    }
    /* handles button font size */
    /* handles button spacing for cv download */
    .button
    {
        margin-bottom: 5%;
    }
    .button2
    {
        margin: 15px 0;
    }
    .button3
    {
        width: 100%;
    }
    .linkButton
    {
        width: 90%;
        margin: 0% 30px;
    }

    /* handles video placement */
    iframe
    {
        width: 90%;
        height: 100%;
        aspect-ratio: 2/1;
        margin: 0% 30px;
    }

    /* handles submit form spacing */
    form input, form textarea
    {
        margin: 15px 0;
    }

    .copyright
    {
        width: 100vw;
    }

    @media (max-width: 400px)
    {
        .header-text h1
        {
            font-size: 50px;
        }

        .mainContact p 
        {
            font-size: 18px;
        }
    }
}
